.post-content figure {
  text-align: center;
}

.post-content figure.float-right {
  float: right;
  padding-left: 10px;
}

.post-content figure img {
  margin: 1rem auto;
}

.post-content figure.white-bg img {
  padding: 10px;
  background: white;
}
