.mailing-list-container {
  background: var(--code-bg);
  border-top: 1px solid var(--content);
}

form.mailing-list {
  padding: 10px;
  text-align: center;
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

form.mailing-list label {
  display: block;
  font-weight: bold;
}

form.mailing-list input[type="email"] {
  background: var(--theme);
  border-radius: 4px;
  color: var(--primary);
  margin: 8px;
  padding: 4px;
  min-width: 50%;
}

form.mailing-list button {
  background: var(--primary);
  border-radius: 18px;
  color: var(--theme);
  font-size: 16px;
  padding: 0 16px;
}

.mailing-list-container .footer {
  padding-bottom: 10px;
  padding-top: 0;
}

.mailing-list-link {
  background: var(--tertiary);
  color: var(--primary);
  font-size: 14px;
  border-radius: 2px;
  padding: 6px;
  visibility: hidden;
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 99;
  transition: visibility 0.5s, opacity 0.8s linear;
}

.mailing-list-link:hover {
  background: var(--primary);
  color: var(--theme);
}

.mailing-list-link:focus {
  outline: 0;
}
