header.header {
  background: var(--code-bg);
  border-bottom: 1px solid var(--content);
  padding: 10px 0;
}

header.header .logo {
  flex-wrap: unset;
}

header.header .logo a {
  font-size: 20px;
  font-weight: 400;
}

header.header .nav {
  flex-wrap: unset;
  line-height: 1.4;
  text-align: center;
}

header.header button#theme-toggle {
  font-size: 22px;
  margin: auto 12px;
}
