.home-info {
  margin: var(--gap) 0;
}

.home-info a, .profile a {
  text-decoration: underline;
}

.profile .buttons a {
  text-decoration: none;
}

.profile_inner {
  text-align: left;
}

.home-info .entry-header h1, .profile h1 {
  text-align: center;
}

.home-info .entry-content {
  font-size: 20px;
}

.home-info .entry-content p {
  margin-top: 10px;
}

.home-info .entry-content .footnote, .profile_inner .footnote {
  font-size: 14px;
  font-style: italic;
}

.home-info .entry-footer {
  display: none;
}

.home-info .entry-cover img,
article.post-entry .entry-cover img {
  margin: auto;
  width: unset;
  max-height: 250px;
}

.home-info .entry-cover img {
  border-radius: calc(100 * var(--radius));
}

article.post-entry div.entry-content {
  -webkit-line-clamp: unset;
}
