.home-info {
  margin: var(--gap) 0;
}

.home-info a, .profile a {
  border-bottom: 1px dotted;
  padding-bottom: 3px;
}

.profile .buttons a, .profile .social-icons a {
  border-bottom: unset;
}

.profile_inner {
  text-align: left;
}

.profile_inner dl dt {
  line-height: 2.5;
}

.home-info .entry-header h1, .profile h1 {
  text-align: center;
}

.home-info .entry-content {
  font-size: 20px;
}

.home-info .entry-content p {
  margin-top: 10px;
}

.home-info .entry-content .footnote, .profile_inner .footnote {
  font-size: 14px;
  font-style: italic;
}

.home-info .entry-footer {
  display: none;
}

.home-info .entry-cover img,
article.post-entry .entry-cover img {
  margin: auto;
  width: unset;
  max-height: 250px;
}

.home-info .entry-cover img {
  border-radius: calc(100 * var(--radius));
}

.archive-entry div.entry-content,
article.post-entry div.entry-content {
  -webkit-line-clamp: unset;
}

.archive-entry {
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  transition: transform 0.1s;
  border: 1px solid var(--border);
}

.archive-entry h3.archive-entry-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

.archive-entry .entry-content {
  color: var(--primary);
}
