{{- partial "subscribe_hover.html" . }}
{{- partial "subscribe_form.html" (dict "context" .) }}

<section class="comment-section">
  {{ $comments := index $.Site.Data.comments .File.ContentBaseName | default slice }}

  <p class="post-content contact-cta">
    Public comments are closed, but I love hearing from readers. Feel free to
    <a href="/contact/" target="_blank">contact me</a> with your thoughts.
  </p>

  {{/* Collect mappings from each comment to its replies to efficiently loop over the threaded levels. */}}
  {{ $parentIdToReplyIds := newScratch }}
  {{ $idToComment := newScratch }}
  {{ range sort $comments "date" }}
      {{ $parentIdToReplyIds.Add (.reply_to | default "null") (slice ._id) }}
      {{ $idToComment.Add ._id . }}
  {{ end }}

  {{ range $parentIdToReplyIds.Get "null" }}
    {{ partial "comment_single" (dict "comment" ($idToComment.Get .) "page" $.Page "level" 0) }}
    {{ range $parentIdToReplyIds.Get . }}
      {{ partial "comment_single" (dict "comment" ($idToComment.Get .) "page" $.Page "level" 1) }}
      {{ range $parentIdToReplyIds.Get . }}
        {{ partial "comment_single" (dict "comment" ($idToComment.Get .) "page" $.Page "level" 2) }}
        {{ range $parentIdToReplyIds.Get . }}
          {{ partial "comment_single" (dict "comment" ($idToComment.Get .) "page" $.Page "level" 3) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</section>

{{ define "partials/comment_single" }}
  <div class="comment-level-{{ .level }}" id="comment-{{ .comment._id }}">
    <div class="comment-header">
      <a href="#comment-{{ .comment._id }}">
        {{ if .comment.email }}
          <img class="comment-avatar" src="https://www.gravatar.com/avatar/{{ .comment.email }}?s=50">
        {{ else if .comment.github_id }}
          <img class="comment-avatar" src="https://avatars.githubusercontent.com/u/{{ .comment.github_id }}?s=50&v=4">
        {{ end }}
        <p class="comment-info">
          <strong>{{ .comment.name }}</strong><br>
          <small>{{ .comment.date }}</small>
        </p>
      </a>
    </div>
    <div class="comment-body post-content">
      {{ .comment.body | markdownify }}
    </div>
  </div>
{{ end }}
