<div class="mailing-list-container">
  <form
      class="mailing-list"
      action="https://tinyletter.com/yanir"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/yanir', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
  >
    <label for="mailing-list-email">Get new post notifications</label>
    <input type="text" name="email" id="mailing-list-email" placeholder="Email address" />
    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Subscribe" />
  </form>
</div>
