{{- /* A subscribe button that fades in as users scroll down the page. */}}

<a href="/contact/#mailing-list-email" target="_blank" aria-label="subscribe to mailing list" class="mailing-list-link" id="mailing-list-link">
  Subscribe
</a>

<script>
  // Show / hide mailing list link when scrolling (adapted from top-link functionality).
  const mailingListButton = document.getElementById("mailing-list-link");
  window.onscroll = function () {
    if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
      mailingListButton.style.visibility = "visible";
      mailingListButton.style.opacity = "1";
    } else {
      mailingListButton.style.visibility = "hidden";
      mailingListButton.style.opacity = "0";
    }
  };
</script>
